(cors) {
  @{args.0} header Origin {args.0}
  header @{args.0} Access-Control-Allow-Origin {args.0}
}


{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
{{ $host }} {
  {{ range $index, $value := $containers }}
# {{ $value }}
    {{ $basicauth := $value.Env.BASIC_AUTH }}
    {{ if $basicauth }}
        basicauth {
            {{ $basicauth }}
        }
    {{ end }}
    {{ $tls := $value.Env.TLS }}
    {{ if $tls }}
      tls {
        {{ $tls }} {{ if eq "dns cloudflare" $tls }} {$CLOUDFLARE_API_TOKEN} {{ end }}
      }
    {{ else }}
      tls off
    {{ end }}
    {{ $cors := $value.Env.CORS }}
    {{ if $cors }}
       import cors {{ $cors }}
    {{ end }}
    {{ range $network := $value.Networks }}
        {{ if eq $network.Name "proxy" }}
            reverse_proxy {
              to {{ $network.IP }}:{{ $value.Env.VIRTUAL_PORT }}
              {{ if $value.Env.VIRTUAL_SKIP_VERIFY }}
              transport http {
                tls
                tls_insecure_skip_verify
              }
              {{ end }}
            }
        {{ end }}
    {{ end }}
  {{ end }}
}
{{ end }}
